<div style="width: 400px">

  <!-- Palette / keys -->
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Palette
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-palette></app-palette>
  </mat-expansion-panel>

  <!-- Layers -->
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Layers
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-layers></app-layers>
  </mat-expansion-panel>

</div>
