<mat-toolbar style="height: 80px;">
  <mat-icon style="height: 40px; width: 40px; font-size: 40px;">dashboard</mat-icon>

  <div fxLayout="column" style="margin: 0 0 0 10px">
    <div style="margin: 0 0 0 20px;">CrossBitch</div>
    <div>
      <!-- menus... -->
      <button mat-button [matMenuTriggerFor]="file">File</button>
      <mat-menu #file="matMenu">
        <button mat-menu-item (click)="createNewProject()">New...</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="exportProject()">Export</button>
        <button mat-menu-item (click)="openImport()">
          Import...
          <input #import type="file" style="display:none" (change)="importProject($event)">
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="exportPdf()">Export PDF</button>
      </mat-menu>
    </div>
  </div>

</mat-toolbar>