<div class="toolbox">

  <!-- Tool list -->
  <div fxLayout="row wrap" class="tool-list-container">
    <button mat-icon-button *ngFor="let tool of tools"
      class="tool-button"
      [ngClass]="{ 'selected-tool-button': currentTool == tool }"
      [matTooltip]="tool.name"
      (click)="selectTool(tool)">
      <mat-icon>{{tool.icon}}</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <!-- Tool properties -->
  <ng-container [ngSwitch]="currentTool">
    <app-draw-tool-properties *ngSwitchCase="drawTool"></app-draw-tool-properties>
    <app-erase-tool-properties *ngSwitchCase="eraseTool"></app-erase-tool-properties>
    <div *ngSwitchDefault>
      No tool selected
    </div>
  </ng-container>

</div>