.toolbox {
  width: 208px;
}

.tool-list-container {
  padding: 8px;
}

.tool-button {
  background-color: grey;
  margin: 4px;
  border-radius: 4px;
}

.selected-tool-button {
  background-color: #b43c6a;
}