<h1 mat-dialog-title>{{ isEditMode ? "Edit palette entry" : "Add floss to palette" }}</h1>

<div mat-dialog-content>

  <form class="example-form" [formGroup]="paletteEntryForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>DMC Floss</mat-label>
      <input matInput
             aria-label="Floss"
             [matAutocomplete]="auto"
             formControlName="floss">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getFlossText">
        <mat-option *ngFor="let floss of filteredFlosses | async" [value]="floss" >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <div style="height: 20px; width: 60px;" [style.background-color]="floss.colour"></div>
            <span>{{floss.description}}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Icon</mat-label>
      <mat-select formControlName="iconIndex">
        <mat-option *ngFor="let icon of icons; let i = index" [value]="i">
          <div fxLayoutAlign="start center" fxLayoutGap="10px ">
            <svg viewBox="0 0 100 100" height="20px" width="20px">
              <path [attr.d]="icon.path" style="fill: white" />
            </svg>
            <p class="icon-name">{{icon.name}}</p>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Strands</mat-label>
      <input matInput type="number" min="1" max="10" formControlName="strands">
      <mat-error>Strands must be 1 - 10</mat-error>
    </mat-form-field>
  </form>


</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]>Cancel</button>
  <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="paletteEntryForm.invalid">Ok</button>
</div>