<div fxLayout="column" style="height: 100%">
  <!-- Toolbar / menu bar -->
  <app-toolbar></app-toolbar>

  <mat-drawer-container fxFlex>
    <!-- Toolbox -->
    <mat-drawer #toolboxDrawer  mode="side" opened>
      <app-toolbox></app-toolbox>
    </mat-drawer>

    <!-- Layers/Key sidebar -->
    <mat-drawer #sidebarDrawer  mode="side" opened position="end">
      <app-sidebar [project]="currentProject"></app-sidebar>
    </mat-drawer>
    
      <!-- canvas -->
    <mat-drawer-content>
      <app-canvas [project]="currentProject"></app-canvas>
    </mat-drawer-content>


  </mat-drawer-container>

</div>


