<h1 mat-dialog-title>Create new project</h1>

<div mat-dialog-content>

  <form [formGroup]="newProjectForm">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Fabric colour</mat-label>
      <mat-select formControlName="fabricColour">
        <mat-select-trigger>
          <div *ngIf="selectedColour" style="width: 100%; height: 10px" [style.background-color]="selectedColour">
          </div>
        </mat-select-trigger>
        <mat-option *ngFor="let colour of colours" [value]="colour">
          <div *ngIf="colour" style="width: 100%; height: 10px" [style.background-color]="colour">
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field fxFlex="45" appearance="fill">
        <mat-label>Width</mat-label>
        <input matInput type="number" min="1" max="1000" formControlName="width">
      </mat-form-field>
      <div fxFlex></div>
      <mat-form-field fxFlex="45" appearance="fill">
        <mat-label>Height</mat-label>
        <input matInput type="number" min="1" max="1000" formControlName="height">
      </mat-form-field>
    </div>

  </form>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]>Cancel</button>
  <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="newProjectForm.invalid">Ok</button>
</div>